@model IEnumerable<WebMoney.Models.Company>
@using System.Security.Claims;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Index";
}

<h1>@Localizer["Услуги"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Localizer["Название"]
            </th>
            <th>
                @Localizer["Цена за месяц"]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Money)₽
                </td>
                <td>
                    <a asp-action="AddCompany" asp-route-id="@item.Id">@Localizer["Подключить"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>